.inField{
    width: 20vw;
    align-self: center;
    margin: 10px;
}

.titleW{
    color: red;
}

.titleS{
    align-self: center;
}

.createUse{
    margin: 5px;
    align-self: center;
    border-color: transparent;
    background-color: transparent;
    color: white;
}

.resetPassBtn{
    align-self: center;
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.loginSmall{
    color: white;
}

.loginButton{
    margin: 10px;
    width: 15vw;
    align-self: center;
    background-color: white;
    border-width: 5px;
    border-style: groove;
    border-color: red;
    
    
}

#loginCard{
    background-image: url('./login flame.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20vh;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    height: fit-content;
    width: 40vw;
    margin-left: 28vw;
    align-items: center;
}

.postImage{
    color: white;
}

.backButton{
    background-color: rgba(255, 255, 255, 0.904);
    width: fit-content;
    align-self: center;
    margin-bottom: 15px;
}

#settingBody{
    background-image: url(./postBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: max-content;
}

.setSmall{
    align-self: center;
}

#newACard{
    background-image: url('./login flame.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    margin-top: 2vh;
    border-color: black;
    border-width: 3px;
    border-style: groove;
    height: fit-content;
    width: 40vw;
    margin-left: 28vw;
    align-items: center;
}

.likeButton{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.warnMessage{
    color: red;
}