body{
    margin: 0;
    background-image: url(./bricks2.jpg);
}

/* For Home */
.home .header {
    background-color: black;
    height: 7vh;
    text-align: center;
    color: #4f889f;
    padding: 1px;
    color:blue;
}

.home .leftText{
    color: red;
}

.home .userPic{
    margin: auto;
    width: 50%;
    height: 15vh;
    border-radius: 100px;
}


.home .usercontainer div {
    padding: 1%;
    box-sizing: border-box;
    min-height:15vh;
}


.home .userleft, .userright {
    background-color: black;
    width: 15%;
    float: left;
    color: red;
    height: inherit;
    background-repeat: repeat-y;
    border-width: 5px;
    border-color: orangered;
    border-style: solid;
}

.home .userPost{
    width: 100%;
}
.home .userleft .userPic{
    margin: auto;
    width: 75%;
    height: 200px;
    border-radius: 100px;
}
.home .usercenter {
    background-image: url(./postBack.jpg);
    background-size: contain;
    background-color: grey;
    width: 70%;
    float: left;
}
.postImage{
  height: 200px;
  width: 200px;
  align-self: center;
}
.home .postsubmit {
    float: right;
    margin-right: 1%;
}

.home ul li{
    cursor: pointer;
}

/* Profile  */
.profileUsercontainer div{
    padding: 1%;
    box-sizing: border-box;
    min-height:15vh;
}

.profileUserleft {
    background-color: black;
    border-radius: 40px;
    color: red;
    width: 30%;
    float: left;
    border-width: 5px;
    border-color: orangered;
    border-style: solid;
}
.profileUserPic{
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 100px;
}
.usercenter {
    background-image: url(./postBack.jpg);
    background-size: contain;
    width: 70%;
    float: left;
}
.postUsercenter{
    background-image: url(./postBack.jpg);
    background-size: contain;
    width: 70%;
    float: left;
}

/* For post comp */
 .postComp{
    border-radius: 10px;
    margin-top: 1%;
    width: 100%;
    min-height:200px;
    background-color: rgb(218, 216, 216);
}

.contentP{
    border-color: rgba(0, 0, 0, 0.623);
    border-width: 3px;
    border-style: ridge;
    padding: 10px;
    min-height: 10vh;
    width: 55vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

 .post_user_image{
    border-radius: 50%;
    float:left;
    width:100px;
    height: 100px;
}
.postComp h6{
    margin-top: 4%;
    margin-left: 10%;
    font-size: 25px;
    color: blue;
}
.postComp h5{
    font-size: smaller;
}
.postComp .time{
   margin-top: 0;
}
.postComp p{
    margin-top: 4%;
}

.post_content_image{
    margin-top: 1%;
    height:200px;
    width:200px;
    
}

.navBarComp{
    background-image: url("./fireNav.png");
    background-size: contain;
    background-color: black;
}
